.reset-container {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    height: 100vh; /* Hauteur pleine de l'écran */
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.reset-form-box {
    background: #fff;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 30px rgba(87, 71, 71, 0.2);
}

.reset-form-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reset-form-box .input-box {
    position: relative;
    margin: 20px 0;
}

.reset-form-box .input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.reset-form-box .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.reset-form-box .btn {
    width: 100%;
    height: 48px;
    background: #ff69b4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.reset-form-box .message {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.reset-form-box .message.success {
    color: green;
}

.reset-form-box .message.error {
    color: red;
}
